[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
PyGithub = "*"
dotenv = "*"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
debugpy = "*"


[requires]
python_version = "3.12"